body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

.navigation  a.logo {
  color: gold;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color:purple;
}

#banner {
  background-image: url("https://lh3.googleusercontent.com/FLgHu3DSfD7F_CZzJlR21hFYZisVuGPy4BhXqtTZsI4JtMy0xB7_UNqLVLKmqXMCVu_a_EzgLf_pJ8Io0Er5EBfv_A-z40VRp_V5cHFmk8jkkkbIepEY1QcGZgHYO1KqakjdP9_PhiCBL0Vw9v4iVTetuCqC24665YAxk4Vtg_loE0xIaFKQoI-DaHFiZZqYrczB_b2Riwk0h_jDuwYqhwqdpKxf90ghqi_hPwoJ3AJAklsgXPwvPajrq3KLOLF2XO5MkkR3LqDxlBcpEo95EKGDYPKytTPUW_5qUhiQ2-uqtePv6TrDOhHGLjnWiQwC9FpXex4N0PzDoM3S_sKbxoXEXhzTCz1_6BQbvdhetocmLkGOrfbbPdZweY5qbjQ74347HBvB38SNd3TG_EL4wKCg_tfzhj7vs0_9MP1J_qzaGHp29LaB5xdnrMQizgMBbd541N3iVzERJH0Rdgvae-16fdoDm6coqP9to7-BMP0OEQW1H4RRWesT4KywZIfDP55Se9eeYAAkN09IKujY5HA-5586KwOvxyuysLe45uYOMPa--2FpgKC6pVJ5Ts0lj2iakFPVG8Y-W0JkJk2EfpRbR_xgmptW8a7_2Hj4DBH0Yp_w2g05Ev_mc5odrW0FVeeKZ6zJisnUE8q9KzXl4qyyiJHuvaY=w1510-h1006-no");
  background-size: cover;
  background-position: fixed;
  height: 1000px;
  width: 100%;
}

#banner .content h1 {
  border: 3px solid white;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}

#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 1000px;
}

h1 {
  color: white;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

h2 {
  border: 1px dotted purple;
  color: red;
  font-size: 14px;
  line-height: 48px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

h3 {
  color: red;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 10px;
}

p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 20px;
}

.pull-quote {
  margin: 0 auto;
  width: 400px;
}

.byline {
  border-bottom: 1px solid LightGrey;
  border-top: 1px solid LightGrey;
  color: DarkGrey;
  font-size: 14px;
  font-weight: 200;
}

.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: purple;
  border: 3px solid gold;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

a{
  font-weight:600;
}

.share a.hover:hover {
  background: gold;
  border: 3px solid purple;
  color: purple;
}
.share li {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}
.share li:hover {
  background: white;
  border: 1px solid red;
  color: red;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border: 3px solid gold;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
div.dropdown{
  font-weight:600;
}
.dropdown span{
  background: purple;
  border: 3px solid gold;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}
