body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

.navigation  a.logo {
  color: gold;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color:purple;
}

#banner {
  background-image: url("https://lh3.googleusercontent.com/j8f-1aDMi_fFnzGX3YcK9AzUA_mNCPmmomowaGTv8ukWyCX-Fjv7U-fkYgUCZslh3pYtuKwuBilTouiSi2M-rzJoXDxArSA_at9-dmdJ6DahG7BttFP91OFCAwuWPjla7kXqny0UdJ-nRFhl7qK1ocU5Yss72YIwF8F9w0UC6kb-UB99pSEahL4st9dXUz9LXPOm2KZTxnYyhdo6w8o4LCIxEPUur4RyysSESMx_ttGBZgH1iphZnMAjP4XbLzKdXjXf37JrTsQhyfBIH3xtwjJtnKi5FmHx47soA4L-iWkTxcAVQHKgsC_cn-CnlkOidKIbXqE0LfbOp5u64ADpjjNVLvPvboNriJx87ir5qV7HKwAOi1kQoPWSWBrbINSgV3EOhHREZRwX6wkVzadtygKkLagTgFc5N4rAZ0LITzNGbGia95g8NqxCflISRAlPyHyXK4sUoLhmtKC09bov_vioupmehdQIjACCRyG_ayMil-fROdg4XC-WLg8thRG7tpC5Cb-2rcY12xnXNrAvjPO9PV5lgcaGhaPeLdSS_rpWXSai6hBB6NMMXaAzXu7Boo8sBmlgguyhqeTbXbuGu_iJyWq8_2LNTstFt1gXY1VpIe3RwX_kz_BFGhLkJTmjq_G4EchNwVfjCEZjMckCWzDSEFm3bZs=w1342-h1006-no");
  background-size: cover;
  background-position: fixed;
  height: 1300px;
  width: fixed;
  background-repeat:none;
}

#banner .content h1 {
  border: 3px solid purple;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}

#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 1000px;
  height: 1000px;
}

h1 {
  color: purple;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

h2 {
  border: 1px dotted red;
  color: red;
  font-size: 14px;
  line-height: 48px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

h3 {
  color: red;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 10px;
}

p {
  color: grey;
  font-size: 50px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 20px;
}

a{
  font-weight:600;
}

.pull-quote {
  margin: 0 auto;
  width: 400px;
}

.byline {
  border-bottom: 1px solid LightGrey;
  border-top: 1px solid LightGrey;
  color: DarkGrey;
  font-size: 14px;
  font-weight: 200;
}

.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: purple;
  border: 3px solid gold;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.share a.hover:hover {
  background: gold;
  border: 3px solid purple;
  color: purple;
}
.share li {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}
.share li:hover {
  background: white;
  border: 1px solid red;
  color: red;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border: 3px solid gold;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
div.dropdown{
  font-weight:600;
}
.dropdown span{
  background: purple;
  border: 3px solid gold;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

ul.list{
  text-align:left;
  font-size: 30px;
}
