body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

.navigation  a.logo {
  color: gold;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color:purple;
}

#banner {
  background-image: url("https://lh3.googleusercontent.com/gcPbbAlw7Sww7QIzvfqYPRIZn4dxOigBhGbZCBkQQgVjOcIm4DVlCWUealnFiLsQmh-rAozC4XInZN1VS25wGzlPfAg4ModeDu3UG9Ug9yTN1T-ZOy8QUqkvUQUGt5_OLrsA2Uo9nkj4FNx-ejScrAkwbbeAZcdMoZM8cx6v0RB5xgZ3Hl3GVLeeSo-ijBvEcD4JtVk08mElC_m3ecCHhUs9mD6U_pfBP-bHFCjmG7Z3R17C84gwr-jmVui9wpAG34Rk4jH-KvjAPqu1iJu-mfNNN-VG5wW4ih25r51iQ0C2YhcmJ8AzPZO3cPkChf8huDfj14xGeKdO_t23v-0r4OW8VFZgiiSjDPfOV1Rqh0Fc1HBJwNp9jP4D7qggKF2d5o6wWzugowIW4xbzCPS4eHVC0vRZxWv-KVkItjhoNXwYnbAx1wWnjHZDMwDtemSqLJ5Fg0WCAMjldx6iJmO0dzOGtbAypVv2CkwuKnx0rSAUL6Uq01Gn04C91K2Y-qLMFWvhjJDoxtq1XTQu33Wa1andsUgwI34uJ-X2K4pDqxKWv1w8iZCoIs7CAE0UcIkTAMUmUUuYJo0CEhuw7eev_0A28ZfqEmvvA3kAHm_u4cbfHKebSu4ZDN_QMHY8LjcNANXaU8rWvmTbTRQ-OTB13UZWZJjUdA8=w1510-h1006-no");
  background-size: cover;
  background-position: fixed;
  height: 900px;
  width: 100%;
}

#banner .content h1 {
  border: 3px solid purple;
  color: gold;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}

#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 1000px;
}

h1 {
  color: white;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

h2 {
  border: 1px dotted purple;
  color: red;
  font-size: 14px;
  line-height: 48px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

h3 {
  color: red;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 10px;
}

p {
  color: grey;
  font-size: 30px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 0px;
}

.pull-quote {
  margin: 0 auto;
  width: 400px;
}

.byline {
  border-bottom: 1px solid LightGrey;
  border-top: 1px solid LightGrey;
  color: DarkGrey;
  font-size: 14px;
  font-weight: 200;
}

.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: purple;
  border: 3px solid gold;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

a{
  font-weight:600;
}

.share a.hover:hover {
  background: gold;
  border: 3px solid purple;
  color: purple;
}
.share li {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}
.share li:hover {
  background: white;
  border: 1px solid red;
  color: red;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border: 3px solid gold;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
div.dropdown{
  font-weight:600;
}
.dropdown span{
  background: purple;
  border: 3px solid gold;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}
