body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

.navigation  a.logo {
  color: gold;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  background-color:purple;
}

#banner {
  background-image: url("https://lh3.googleusercontent.com/8H1XWSwgNo7UPcdk2mWcQ2rvfePC5TDR9TtLO0PYLl6nmg2SlG0akjtEwf8BVUPdrDUuqlQ0mSIV86qJIm8F0IdBaXD3lBG9yXRVhnYuMFluT6OTrj-WkfMfT4RUwhK1gOtK0CZj1EHn8RD4HWODxG945uD7KTomi8W2wpXzpI3OKp83OEYhHjpmKLyv2To03YsEentuOfGFirHQk_naoxXRyjpDYUPVvsKZQvibl-57gRytBsUxPqCA9nZ0wR0yIo3GP8G47dgaZMTy6I__-GyZkItcipp5Ysa22kZiO7Ny2_OzvRacbOIXnAVHKv7j2k1PQi_B5uZixfKIAGjFY9AuP7Bt0a_Gapv_UNPxO0vQ_cuhhU11cBOf0jZmzjWRIwk5m4hE_BZZSR8QJCGbPAtCKlLmpFFEwDwwfWf9Elw8mz7FiLHjo9YXoIIn5RkxhA0gKox9vk4l7NI8pPk7mmap36dKzkNQdTsByiRErzambfzJDPhTlMjsacMyLCeNEtxCJjF5CQr9ghdsCIEr4qszbjMLWqrEHy08M38q7g_86iQPmoIh-QGA5CyOMg8qpOwWtqSvEBu1LfHBjsYCEiQe-lQ-J5hRhu6qQ8hEcFwPzNv6geNy8nFImtXv63MVnnjOqImCExrlZt5gxxfbcyTjrvqU0_A=w1510-h1006-no");
  background-size: cover;
  background-position: fixed;
  height: 900px;
  width: 100%;
}

#banner .content h1 {
  border: 3px solid white;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}

#main {
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 1000px;
}

h1 {
  color: white;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

h2 {
  border: 1px dotted purple;
  color: red;
  font-size: 14px;
  line-height: 48px;
  padding: 20px 30px;
  margin: 30px 20px;
  text-align: center;
}

h3 {
  color: red;
  font-size: 26px;
  font-weight: 700;
  padding: 20px 10px;
}

p {
  color: grey;
  font-size: 16px;
  line-height: 48px;
  margin-top: 60px;
  padding: 10px 20px;
}

.pull-quote {
  margin: 0 auto;
  width: 400px;
}

.byline {
  border-bottom: 1px solid LightGrey;
  border-top: 1px solid LightGrey;
  color: DarkGrey;
  font-size: 14px;
  font-weight: 200;
}

.share {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.share a {
  background: purple;
  border: 3px solid gold;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

a{
  font-weight:600;
}

.share a.hover:hover {
  background: gold;
  border: 3px solid purple;
  color: purple;
}
.share li {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}
.share li:hover {
  background: white;
  border: 1px solid red;
  color: red;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border: 3px solid gold;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
div.dropdown{
  font-weight:600;
}
.dropdown span{
  background: purple;
  border: 3px solid gold;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}
